@import 'base/variable';


.container {
    max-width: 1140px;
    margin: 0 auto;
}
body {
    position: relative;
}
.hidden {
    display: none;
}


// section
@import 'block/header';
@import 'block/banner';
@import 'block/function';
@import 'block/helpdesk';
@import 'block/slider';
@import 'block/prise';
@import 'block/video';
@import 'block/feedback';
@import 'block/download';
@import 'block/footer';

// block
@import 'block/button';
@import 'block/list-check';
@import 'block/title';
@import 'block/subtitle';
@import 'block/arrow';
@import 'block/close';

// adaptive
@import 'base/media';
