.arrow-left, .arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: 1.0px solid #eeeeee;
    border-radius: 100%;
    cursor: pointer;
    .icon-long-arrow-left, .icon-long-arrow-right {
        font-size: 14px;
        line-height: 30px;
        font-weight: 400;
        color: $sub-text-color;
    }
    &:hover {
        background: $main-gradient;
        span {
            color: #fff;
        }
    }

}
