.arrow-left {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: 1.0px solid #eeeeee;
    .icon-long-arrow-left {
        font-size: 14px;
        line-height: 30px;
        font-weight: 400;
        color: $sub-text-color;
    }

}
.arrow-right {
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.1);
    width: 66px;
    height: 66px;
    background-color: #000000;
    background-image: $main-gradient;
    border: 3.0px solid rgba(0,0,0,0.1);
    .icon-long-arrow-right {
        font-size: 14px;
        line-height: 30px;
        font-weight: 400;
        color: #ffffff;
    }

}
