.banner {
    background: url('../img/section_1_banner/bg_1.png') center center/cover no-repeat;
    min-height: 800px;
    padding: 210px 0 125px 0;
    &__title {
        max-width: 475px;
        margin-bottom: 21px;
        font-family: Dosis;
        font-size: 54px;
        line-height: 60px;
        font-weight: 600;
        color: #ffffff;
    }
}
