.btn {
    width: 153px;
    height: 35px;
    background-color: #ffffff;
    border: none;
    border-radius: 17.5px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #222222;

    &:hover {
        box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);
        border: 5.0px solid rgba(230,230,230,0.5);
        outline: none;
    }
    &:active {
        outline: none;
        border: 1px solid #666;
        box-shadow: 0 0 25px 0 white;
    }
    &:focus {
        outline: none;
    }
    &_banner {
        width: 193px;
        height: 40px;

        border-radius: 20.0px;
        margin-left: 3px;
        line-height: 0;
        vertical-align: middle;
    }
    &_price {
        width: 139px;
        height: 40px;
        background-color: #ffffff;
        border: 1.0px solid #eeeeee;
        border-radius: 20.0px;
        &:active {
            border: 1.0px solid #eeeeee;
            box-shadow: none;
        }
        &:hover {
            border: 1.0px solid #eeeeee;
        }
    }
}
