.download {
    min-width: 471px;
    background: $main-gradient;
    padding: 120px 0 120px 0;
    .title {
        margin-bottom: 92px;
    }
    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ffffff;
            border-radius: 3.0px;
            box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.07);
            &__icon {
                width: 115px;
                height: 115px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #f7fafc;
                border-radius: 3.0px;
                span {
                    font-size: 54px;
                    color: $sub-text-color;
                    text-shadow:rgba(0,0,0,0.1) 0 0 2px;
                }
            }
            &__text {
                width: 245px;
                padding-left: 19px;
                &-title {
                    font-family: Dosis;
                    font-size: 30px;
                    line-height: 24px;
                    font-weight: 600;
                    color: #222222;
                    margin-bottom: 11px;
                }
                &-subtitle {
                    font-family: Roboto;
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: 300;
                    color: #777777;
                }
            }
            &:hover, &:hover {
                text-decoration: none;

                span:before {
                    background: $main-gradient;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

            }

        }
    }

}
