.header {
    position: absolute;
    width: 100%;
    .container {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__icon {
        width: 48px;
        height: 40px;
        margin-right: 3px;
    }
    &__name {
        font-family: Dosis;
        font-size: 36px;
        line-height: 35px;
        font-weight: 700;
        color: #ffffff;
    }

    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .wrapper {
        min-width: 246px;
        padding-bottom: 2px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__item {
        font-family: Roboto;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        color: #ffffff;
        &:nth-child(2) {
            margin-right: 8px;
        }
    }

    .btn {
        margin-left: 42px;
    }
}
