.slider {
    padding: 120px 0 1px 0;
    background-color: $back-color;
    min-height: 917px;
    .container {
        position: relative;
    }
    .title {
        margin-bottom: 27px;
    }
    .subtitle {
        margin-bottom: 76px;
    }
    &-arrow {
        width: 116%;
        position: absolute;
        top: 63%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-carousel {
        position: relative;
        height: 500px;
        margin-bottom: 118px;
        &__posit {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            box-shadow: 0px 30px 40px 0px rgba(0,0,0,0.1);
            &_1{
                left: 0;
                z-index: 1;
                // width: 262px;
                // height: 280px;
            }
            &_2{
                left: 6%;
                z-index: 2;
                // width: 262px;
                // height: 360px;
            }
            &_3{
                left: 17%;
                z-index: 3;
                // width: 262px;
                // height: 440px;
            }
            &_4{
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 4;
                // width: 360px;
                // height: 500px;
            }
            &_5{
                right: 17%;
                z-index: 3;
                // width: 262px;
                // height: 440px;
            }
            &_6{
                right: 6%;
                z-index: 2;
                // width: 262px;
                // height: 360px;
            }
            &_7{
                right: 0;
                z-index: 1;
                // width: 262px;
                // height: 280px;
            }
            img {
                width: 100%;
            }
        }

    }
}
