.title {
    font-family: Dosis;
    font-size: 36px;
    line-height: 30px;
    font-weight: 500;
    color: #222222;
    text-align: center;
    &_left {
        text-align: left;
    }
    &_download {
        font-size: 36px;
        line-height: 24px;
        font-weight: 400;
        color: #ffffff;
    }

}
